In [79]:
import pandas as pd
import numpy as np
refugeeData = pd.read_csv('population.csv')

# Remove the useless columns
refugeeData = refugeeData.drop(refugeeData.columns[[1,2,3,4]],axis=1)

# To get rid of all the years less than 1999
for i in range(0,len(refugeeData)):
    if refugeeData.loc[i,"Year"] < 1999:
        refugeeData = refugeeData.drop([i])
    else:
        pass

# Replace all NaN values with 0
refugeeData = refugeeData.replace(np.nan,0)

# Reset the row index and print dataframe
refugeeData = refugeeData.reset_index()
refugeeData = refugeeData.drop(['index'],axis=1)
refugeeData

,Year,Refugees under UNHCR's mandate,Asylum-seekers,Returned refugees,IDPs of concern to UNHCR,Returned IDPss,Stateless persons,Others of concern,Venezuelans displaced abroad
0,1999,11686760,1027400,1599105,3968648,1048387,0,1491142,0.0
1,2000,12129080,947322,767383,5998501,369055,0,1653841,0.0
2,2001,12116301,943383,462396,5096502,240950,0,1039510,0.0
3,2002,10593526,1093121,2426009,4646641,1179038,0,953319,0.0
4,2003,9592279,995567,1094889,4181701,237798,0,905344,0.0
5,2004,9572778,884285,1434190,5426539,146516,1455861,597042,0.0
6,2005,8661294,801119,1105477,6616791,519430,2383651,960359,0.0
7,2006,9877009,740253,733557,12794268,1864171,5805941,1045409,0.0
8,2007,11390156,739958,730573,13740317,2070118,2938538,68615,0.0
9,2008,10488995,823931,603884,14442227,1361436,6573465,166860,0.0
10,2009,10395780,988030,251413,15628057,2229540,6559572,411691,0.0
11,2010,10548900,835969,197579,14697804,2923233,3463073,1255578,0.0
12,2011,10403951,895692,531868,15473378,3245804,3477100,1411844,0.0
13,2012,10497028,941497,525902,17670368,1545486,3335772,1329600,0.0
14,2013,11698238,1162934,385651,23925555,1356182,3469268,836073,0.0
15,2014,14384302,1794703,126767,32274619,1822591,3492255,1052746,0.0
16,2015,16110280,3223460,201387,37494172,2317314,3687759,870688,0.0
17,2016,17184291,2729521,552219,36627127,6511144,3242206,803084,0.0
18,2017,19940568,3089503,384887,39118516,4228971,3853982,1596125,0.0
19,2018,20359556,3501627,519321,41425168,2312926,3851981,1182756,2592947.0
20,2019,20414675,4170548,317181,43503362,5343793,4161980,6140622,3582202.0
21,2020,20661855,4140106,250951,48557439,3184118,4176913,8309751,3862102.0
22,2021,20835367,4409770,126680,50872901,936409,4265472,8426151,3944279.0